/*--------------------------------------------------------------
Needed if using a fixed navbar
--------------------------------------------------------------*/
body {
	padding-top: 70px;
	background-color: black;
	
}

.navbar {
	@include admin-sticky-fix;
}

article {
    color: aqua;
}
